#container {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 320px;
    height: 400px;
    position: inline-grid;
}

#scrn {
    display: flexbox;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: sticky;
    width: 320px;
    height: 20px;

}