#grid {
    display: inline-grid;
    grid-template-columns: repeat(4, 70px);
    column-gap: 5px;
    row-gap: 5px;
    /*transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    position: absolute;*/

}

#container {
        margin: 0 auto;
        max-width: 960px; 
        text-align: center;
        padding-right: 10px; 
        padding-left:  10px; 
        
    }

#wrapper {
    display: inline-block;
    background-color: aliceblue;
    border: 1px salmon;

}

#scrn {
    display: inline-block;

    width: 15em;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: larger;
}

.btn {
    text-align: center;
    border-radius: 1px;
    border: 1px darkgray;
    font-size: large;
    height: 2em;
}

